/* Reset básico */
/* Remove margens e paddings padrão do body e html */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita barras de rolagem horizontais */
}
/* Modos claro e escuro */
.light-mode {
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
}
.dark-mode {
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
}
/* Estilo para a nova topbar */
.nav-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1; /* Cor de fundo para o modo claro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    position: fixed; /* Fixa a nav-top-bar abaixo da top-bar */
    top: 60px; /* Altura da barra superior */
    left: 0;
    width: 100%;
    z-index: 999; /* Garante que a nav-top-bar fique acima de outros elementos */
}
/* Estilo para os links da nova topbar */
.nav-links {
    display: flex;
    gap: 20px; /* Espaçamento entre os links */
}
.nav-links a i {
    margin-right: 5px;
    font-size: 1.2rem;
}
.logout-section button i {
    margin-right: 5px;
    font-size: 1.2rem;
}
.nav-links a {
    font-family: 'sans-serif', serif; /* Fonte elegante */
    font-weight: bold; /* Letras grossas */
    font-size: 1rem; /* Tamanho do texto */
    color: #333333; /* Cor escura para o modo claro */
    text-decoration: none; /* Remove sublinhado */
    transition: color 0.3s; /* Transição suave para a cor */
}
/* Efeito ao passar o mouse nos links */
.nav-links a:hover {
    color: #ff0000; /* Cor do link ao passar o mouse */
}
/* Ajustes para o modo escuro */
body.dark-mode .nav-top-bar {
    background-color: #222222; /* Fundo escuro para a nav-top-bar */
}
body.dark-mode .nav-links a {
    color: #ffffff; /* Links brancos no modo escuro */
}
body.dark-mode .nav-links a:hover {
    color: #ff0000; /* Cor do link ao passar o mouse no modo escuro */
}
/* Estilo para o botão de logout */
.logout-section {
    margin-left: auto; /* Empurra o botão para a direita */
}
/* Estilo para a top-bar */
.top-bar {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    padding: 0 20px; /* Espaçamento interno */
    height: 60px; /* Altura fixa */
    background-color: #f1f1f1; /* Cor de fundo para o modo claro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    position: fixed; /* Fixa a top-bar no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que a top-bar fique acima de outros elementos */
}
/* Contêiner para o texto "Olá, [nome]" */
.utilizador-info {
    margin-right: auto; /* Empurra o texto para a esquerda */
}
/* Estilo para o texto "Olá, [nome]" */
.titulo-utilizador {
    font-family: 'sans-serif', serif; /* Fonte elegante */
    font-weight: bold; /* Letras grossas */
    font-size: 1.0rem; /* Tamanho menor (ajuste conforme necessário) */
    color: #333333; /* Cor escura para o modo claro */
    letter-spacing: 1.5px; /* Espaçamento entre as letras */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
/* Ajustes para o modo escuro */
body.dark-mode .titulo-utilizador {
    color: #ffffff; /* Cor branca para o modo escuro */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1); /* Sombra sutil no modo escuro */
}
/* Contêiner para o título */
.titulo-container {
    position: absolute; /* Posiciona o título absolutamente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o centro */
}
/* Estilo para o título "THESHARING" */
.titulo-elegante {
    font-family: 'Georgia', serif; /* Fonte elegante */
    font-weight: bold; /* Letras grossas */
    font-size: 2rem; /* Tamanho grande */
    color: #333333; /* Cor escura para o modo claro */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
/* Ajustes para o modo escuro */
body.dark-mode .top-bar {
    background-color: #1e1e1e; /* Fundo escuro para a top-bar */
}
body.dark-mode .titulo-elegante {
    color: #ffffff; /* Cor branca para o modo escuro */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1); /* Sombra sutil no modo escuro */
}
.dark-mode .top-bar {
    background-color: #222222;
    color: #ffffff;
}
/* Botão de alternar tema */
.mode-toggle {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.2s;
}
.mode-toggle:hover {
    transform: scale(1.1);
}
/* Sidebar links */
.nav-links a {
    text-decoration: none;
    font-size: 1rem;
}
.nav-links a:hover {
    opacity: 0.8;
    color: #007bff;
}
/* Efeito ao passar o mouse no botão "Sair" */
.btn-sair:hover {
    background-color: #570101; /* Cor de fundo mais escura ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
}
/* Ajustes para o modo escuro */
body.dark-mode .btn-sair {
    background-color: #570101; /* Cor de fundo vermelha mais clara no modo escuro */
    color: #ffffff; /* Cor do texto branco */
}
body.dark-mode .btn-sair:hover {
    background-color: #560000; /* Cor de fundo mais escura no modo escuro */
}
/* Logout */
.logout-section form button {
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'sans-serif', serif; /* Fonte elegante */
    font-weight: bold; /* Letras grossas */
    font-size: 1rem; /* Tamanho da fonte */
    letter-spacing: 1.5px; /* Espaçamento entre as letras */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #dc3545; /* Cor de fundo vermelha */
    color: #ffffff; /* Cor do texto branco */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}
/* Conteúdo principal */
.main-content {
    margin-left: 0;
    margin-right: 0; /* Remove a margem do lado direito */
    margin-top: 60px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
}
.dark-mode .main-content {
    background-image: url('https://wallpapers.com/images/hd/aesthetic-black-background-1920-x-1080-tjv7acf0b8ycalpz.jpg'); /* Imagem alternativa para o modo escuro */
    color: #ffffff; /* Mantém o texto branco no modo escuro */
}
/* Título principal */
.main-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* Lista de grupos - Ajustando o layout para cards (3 por linha) */
.grupos-list {
    width: 100%;
    margin-top: 20px;
}
.grupos-list p {
    font-size: 1.2rem;
    color: #888;
}
.grupos-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}
.grupos-list li {
    list-style: none;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.grupos-list li .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.grupos-list li .card:hover {
    transform: scale(1.05);
}
.grupos-list li .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.grupos-list li .card-body {
    padding: 15px;
}
.grupos-list li .card-body .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.grupos-list li .card-body .card-text {
    font-size: 1rem;
    color: #666;
}
.grupos-list li .card-body .btn-entrar {
    margin-top: 10px;
    text-align: center;
}
.grupos-list li .card-body .btn-entrar:hover {
    background-color: #007bff;
    color: white;
}
.card-body .btn {
    margin-right: 10px;
}
.card-body .d-inline-block {
    display: inline-block;
    margin-right: 10px;
}
 /* Barra de pesquisa */
 .search-bar {
    position: absolute; /* Posiciona o título absolutamente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o centro */
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.search-bar form {
    display: flex;
    align-items: center;
}
.search-bar input {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s;
}
.search-bar button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #363636;
    color: white;
    cursor: pointer;
}
.search-bar button:hover {
    background-color: #0056b3;
}
/* Modo escuro */
.dark-mode .search-bar input {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}
.search-bar input:focus {
    border-color: #353637;
}
/* Botão de alternar tema */
.mode-toggle {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.2s;
}
.mode-toggle:hover {
    transform: scale(1.1);
}
/* Modal */
#formularioGrupo {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/* Estilo específico para o modal no modo escuro */
.dark-mode #formularioGrupo {
    background-color: #333;
    color: #ffffff;
}
.dark-mode #formularioGrupo input[type="text"], .dark-mode #formularioGrupo textarea {
    background-color: #444;
    color: #ffffff;
    border: 1px solid #555;
}
.dark-mode #formularioGrupo input[type="file"] {
    background-color: #444;
    color: #ffffff;
    border: 1px solid #555;
}
.dark-mode #formularioGrupo input[type="text"]::placeholder, .dark-mode #formularioGrupo textarea::placeholder {
    color: #999;
}
.dark-mode #formularioGrupo button {
    background-color: #555;
    color: #ffffff;
    border: none;
}
.dark-mode #formularioGrupo button:hover {
    background-color: #666;
}
/* Estilo específico para o botão de cancelar no modo escuro */
.dark-mode #cancelarBtn {
    background-color: #555;
    color: #ffffff;
    border: none;
}
.dark-mode #cancelarBtn:hover {
    background-color: #666;
}
/* Responsividade */
@media (max-width: 768px) {
    .grupos-list li {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .grupos-list li {
        width: 100%;
    }
}
