/* Conteúdo principal */
.content {
  margin-left: 270px;
  padding: 20px;
  z-index: 1000;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px; /* Ajuste a altura da barra superior aqui */
}

/* Estilização adicional para melhor aparência */
.content h1 {
  font-size: 2rem;
  color: #343a40;
  margin-bottom: 20px;
}

.content p {
  font-size: 1rem;
  color: #495057;
  line-height: 1.6;
}

.content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
